

body{
    background-color :#1e1e1e;
    margin:0%

}

.titre{
    background-image: url("https://cdn.discordapp.com/attachments/727585664467730442/1216760943653027900/deer_wide.jpg?ex=66018fef&is=65ef1aef&hm=469aaf3b9c2ac5aff7dc8ab3a5a17ca9510e16111f539178b5106893a02f8038&");
    background-size: 1600px;
    background-position-x: -170px;
    background-position-y: -230px;
    position:absolute;
    top:0px;
    left: 0px;
    width:100%;
    

}

.titre h1{
    position: absolute;
    left: 550px;
    color:white;
    height: 10px;
    font-family: Verdana;
    font-size: 40px;
    top: 90px;

}
.titre h2{
    position: absolute;
    left: 500px;
    color:white;
    height: 100px;
    font-family: Verdana;
    font-size: 30px;
    top: 150px;
}

.titre img{
    position: absolute;
    left:20px;
    top:40px;
    display:block;
    height: 175px;
    width: 175px;
    border-radius: 100%;    
}

.titre .reseaux {
    display: inline-block;
    position:absolute;
    width:200px;
    height: 100px;
    left: 1050px;
    top: 150px;

}
.titre .reseaux .instagram img{
    display: block;
    width: 40px;
    height: 40px;
    left: 160px;
    transition: transform 0.5s ease;
}

.titre .reseaux .facebook img{
    display: block;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}

.titre .reseaux .discord img{
    display: block;
    left: 90px;
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}

.titre .reseaux .instagram:hover img {
    transform: scale(1.05);
}
.titre .reseaux .facebook:hover img {
    transform: scale(1.05);
}
.titre .reseaux .discord:hover img {
    transform: scale(1.05);
}

.paragraphe1{
    position: absolute;
    left: 50px;
    top: 300px;
    width: 95%;
}

.paragraphe1 .pop-out img{
    display: block;
    position: absolute;
    top: 0px;
    left: 660px;
    width: 550px;
    margin-right: -100px;
    transition: transform 0.5s ease;
}
.paragraphe1 .pop-out:hover img {
    transform: scale(1.05);
  }

.paragraphe1 h2{color: white;
    text-align: left;
    left: 30px;
    font-family: Verdana;
    font-size: large;
    font-size: 25px;
}

.paragraphe1 p{
    font-family:verdana;
    font-size:20px;
    color: white;
    width: 700px;
}

.paragraphe2{
    position: absolute;
    left: 50px;
    top: 650px;
    width: 1000px;
}

.paragraphe2 h2{color: white;
    text-align: left;
    font-family: Verdana;
    font-size: large;
    font-size: 25px;
}

.paragraphe2 p{
    font-family:verdana;
    font-size:20px;
    color: white;
    text-indent: 40px;
    width: 100%;
}


.paragraphe3{
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 1000px;
    width: 100%;
}

.paragraphe3 h2{
    position: absolute;
    left: 50px;
    color: white;
    text-align: left;
    font-family: Verdana;
    font-size: large;
    font-size: 25px;
}

.paragraphe3 tr{
    display:table;
    border-spacing: 30px;
    font-family:verdana;
    font-size:20px;
    color: white;
    width: 100%;
}

.pop-out img{
    display: inline-block;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.pop-out .rect img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
    width: 600px;
}

.pop-out .img_up img{
    display: inline-block;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.pop-out:hover img {
  transform: scale(1.05);
}

.paragraphe3 video{
    display: inline-block;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.paragraphe3 table{
    display: inline-block;
}

.logiciels{
    display: inline-block;
    left: 50px;
    position: absolute;
    text-align: center;
    top: 900px;
    width: 900px;
}

.logiciels h2{
        color: white;
        text-align: left;
        font-family: Verdana;
        font-size: large;
        font-size: 25px;
}
.logiciels img{
    width: 100px;
}

a{
    color: #61a8f8;
}


